body {
  background-color: lightblue;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.my-nav {
  background-color: darkslateblue;
}

.card-post-list {
  max-width: 320px;
}

.my-button-indigo {
  background-color: indigo;
}

.my-button-indigo:hover,
.my-button-indigo:active {
  background-color: fuchsia;
  color: #fff;
}
