<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <!-- css base -->
    <title>Superblog | {% block head_title %}{% endblock head_title %}</title>
    <!-- css uikit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'ui/css/index.css' %}" />

    {% block head_bottom %}
    {% endblock head_bottom %}

  </head>
  <body>

    {% include "ui/navigation.html" %}
   <div class="uk-section uk-offcanvas-content">
     <div id="offcanvas-nav" uk-offcanvas="overlay: true">
         <div class="uk-offcanvas-bar">

             <ul class="uk-nav uk-nav-default">
                 <li class="uk-active"><a href="#">Active</a></li>
                 <li class="uk-parent">
                     <a href="#">Parent</a>
                     <ul class="uk-nav-sub">
                         <li><a href="#">Sub item</a></li>
                         <li><a href="#">Sub item</a></li>
                     </ul>
                 </li>
                 <li class="uk-nav-header">Header</li>
                 <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                 <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                 <li class="uk-nav-divider"></li>
                 <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
             </ul>

         </div>
     </div>

     <div class="uk-container" style="min-height: 90vh;">
       {% block content %}
       {% endblock content %}
     </div>
   </div>

  <!-- base libs here -->
  <!-- <script type="text/javascript">

  </script> -->
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>

    {% block body_bottom %}
    {% endblock body_bottom %}

  </body>
</html>
