{% extends "ui/base.html" %}
{% block head_title %}article {{ object.title }}{% endblock head_title %}
{% block content %}
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ object.title }}</a></h1>

    <p class="uk-article-meta">Written by <a href="#">{{ object.author }}</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>

    <p>{{ object.text }}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-text" href="#">Read more</a>
        </div>
        <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
        </div>
    </div>

</article>
{% endblock content %}
