{% extends "ui/base.html" %}
{% block head_title %}articles{% endblock head_title %}
{% load static %}
{% block content %}
<div class="uk-grid-large uk-flex-center" uk-grid>
  {% for object in object_list %}
  <div>
  <a href="{% url 'post_detail' object.pk %}">
    <div>
      <div class="uk-card uk-card-default card-post-list">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="{% if object.author_photo %}{{ object.author_photo.url }}{% else %}static/ui/img/avatar.jpg{% endif %}" />
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ object.title }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ object.created_date }}</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{ object.text|truncatechars:90 }}</p>
        </div>
        <div class="uk-card-footer">
            <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
    </div>
  </div>
</a>
</div>
  {% endfor %}
</div>
{% endblock content %}
