{% extends "ui/base.html" %}
{% block content %}
<div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
  {% for object in object_list %}
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small">{{ object.title }}</div>
    </div>
  {% endfor %}
    <!-- <div class="uk-flex-last">
        <div class="uk-card uk-card-secondary uk-card-body">Item 2</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item 3</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item 4</div>
    </div>
    <div class="uk-flex-first">
        <div class="uk-card uk-card-primary uk-card-body">Item 5</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item 6</div>
    </div> -->
</div>
{% endblock content %}
